.sceneContainer {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: left;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}